@media (max-width: $media1){
   
}

@media (max-width: $media2){

    .item {
        flex-direction: column;
        padding: 20px;
    }
    .item__content {
        flex-direction: column;
    }
    .item__textbox-title, .item__textbox-text {
        text-align: center;
    }
    .item__media {
        margin: 0 0 20px 0;
    }
}


@media (max-width: 900px){
  
}

@media (max-width: $media3){
    .header__burger {
        display: block;
        cursor: pointer;
        position: relative;
        top: -3px;
        width: 30px;
        height: 21px;
        z-index: 4;
        order: 3;
        &:before{
            content: '';
            background-color: #000;
            position: absolute;
            width: 100%;
            height: 3px;
            left: 0;
            top: 0;
        }
        &:after{
            content: '';
            background-color: #000;
            position: absolute;
            width: 100%;
            height: 3px;
            left: 0;
            bottom: 0;
        }
        span{
            background-color: #000;
            position: absolute;
            left: 0;
            top: 9px;
            width: 100%;
            height: 3px;
        }
        &.active:before{
            transform: rotate(45deg);
            top: 9px;
        }
        &.active:after{
            transform: rotate(-45deg);
            bottom: 9px;
        }
        &.active span{
           transform: scale(0); 
        }
    }

    .header__menu {
        position: fixed;
        left: 0;
        top: -100%;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease 0s;
        background-color: #0B0058;
        opacity: 0.9;
        overflow: auto;
        z-index: 3;
    }

    .header__menu-list {
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header__menu-item {
        margin: 0 0 30px 0;
    }

    .header__menu-link {
        font-size: 22px;
        color: #fff;
    }

    .footer__title {
        font-size: 36px;
    }

    .footer__mail, .footer__mail-lnk {
        font-size: 18px;
    }

    .footer__rights {
        font-size: 18px;
    }

    .mainblock__content {
        justify-content: center;
    }

    .mainblock__inner {
        align-self: center;
    }
}

@media (max-width: 650px){
   
}

@media (max-width: 600px){
    .mainblock__title {
        font-size: 40px;
        margin: 0 0 20px 0;
    }
}

@media (max-width: $media4){
    .item {
        flex-direction: column;
        padding: 10px;
        width: 100%;
    }
    .footer__mail-lnk {
        font-size: 14px;
    }
    .mainblock__text {
        font-size: 16px;
    }
    .mainblock__content-links {
        flex-direction: column;
    }
    .mainblock__content-link {
        margin: 0 0 20px 0;
    }
    .header__link {
        font-size: 16px;
    }
}


@media screen and (max-width: 1400px)
        and (max-height: 750px) {
            .mainblock__media {
                display: none;
            }
            .mainblock__textbox {
                width: 100%;
                text-align: center;
            }
            .mainblock__content-links {
                justify-content: center;
            }
        }

