.terms {
    padding: 70px 0;
    background: url('../img/bout_back.png') center / cover no-repeat;
    background-attachment: fixed;

    // .terms__header-block

    &__header-block {
        margin: 0 0 70px 0;
        text-transform: uppercase
    }

    // .terms__textbox

    &__textbox {
        padding: 40px;
        line-height: 25px;
        border-radius: 40px
    }

    // .terms__header

    h2 {
        text-align: center;
        color: #0B0058;
        font-weight: 600;
        font-size: 40px;
    }

    h3 {
        font-size: 22px;
        font-weight: 700;
        margin: 0 0 10px 0;
    }

    a {
        color: blue;
    }

    // .terms__updated

    &__updated {
        font-size: 22px;
        font-weight: 700;
        margin: 0 0 40px 0;
    }

    // .terms__text

    p, ul {
        margin: 0 0 20px 0;
    }

    // .terms__list

    &__list {
        margin: 0 0 20px 0;
    }

    // .terms__list-item

    &__list-item {
    }
}
